html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#panel {
    width: 20%;
    border-color: #ef7d13;
    border-width: 1px;
    border-style: solid;
    height: 100%;
    background-color: #fcb77b;
    overflow: auto;
}
body {
    display: flex;
}
#map {
    height: 100%;
    width: 80%;
}
.container {
    width: 100px;
}
.info {
    font-weight: bold;
    font-size: 20px;
    color: green;
}

.dropdown{
	margin-top: 30px;
	height: 30px;
	width: 100%;
}

.results{
	height: 200px;
}

.description{
    max-width: 100%;
    overflow: auto;
    max-height: 300px;
}

